.index-bg-color{
    background-color: #050714;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.inicio {
  width: 100%;
  height: 100vh;
  background: url('../img/disney/bg-inicio.jpeg') no-repeat right;
  background-size: 60%;
  background-origin: content-box;
}

@media (max-width: 767.98px) { 
  .inicio {
    background-size: 100% 75%;
    background-position: top center; 
    
  }
}

@media (min-width: 801px) {
  .table-container {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media (max-width: 800px) {
  .table-container {
    width: 100%;
    margin: 0;
    padding:0;
  }

  .table.tabla-plan {
    width: 100%;
  }
}


.inicio-content-txt-margin{
  margin-top: 100px;
}

.inicio-img-size{
  max-height: 190px;
  max-width: 220px;
  object-fit: cover;
}

.inicio-btn-contratar-contenedor{
  height: 60px;
  max-width: 100%; 
}

.btn-contratar-bg-color{
    border-color: #6421ff;
    background-color: #6421ff;
}


.inicio-btn-contratar-size{
  width: 100%;
  height: 100%;
}

.inicio-btn-login-contenedor {
  height: 50px; 
  max-width: 150px; 
}

.inicio-btn-login{
background-color: #010104;
color:#fff;
}

.inicio-btn-login:hover {
  background-color: #fff;
  color: #010104;
}

.fs-size-txt{
    font-size:18px;
}

.inicio-content-img{
max-width:300px;
}
.img-inicio{
    width: 100%;
}

.dispositivos {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px; 
  padding-bottom: 100px;
}

.dispositivos-txt-margin {
  margin-top: 140px;
  margin-bottom: 20px; 
}

.dispositivos-txt-size-titulo{
  font-size: 2.5rem; 

}
.container-img {
  max-width: 50%;
}

.img-size {
  max-width: 100%;
  height: auto; 
}

.tabla {
  max-height: 2300px;
}
.table-container {
  height: 100%;
  position: relative;
  overflow: auto;
}
.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #343a40; 
}
.table.tabla-plan {
  overflow: hidden;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
}
.table.tabla-plan th,
.table.tabla-plan td {
  border: none;
  background-color: transparent;
  max-width: 200px;
}
.table.tabla-plan thead th {
  border-bottom: 2px solid white; 
}
.table.tabla-plan tbody tr td {
  border-bottom: 1px solid #6c757d;
}
.table.tabla-plan tr {
  height: 110px;
}
.tabla-contenedor-img {
  width: 100%;
}
.tabla-img {
  width: 120px;
  height: 55px;
  object-fit: cover;
}
.tabla-contenedor-btn {
  max-height: 80px;
}
.borde-superior{
  border-top: 1px solid #6c757d;
}

.ourservices-content-img{
max-width:350px;
max-height: 300px;
}

.ourservices-img-border{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.answer{
  margin-top: 130px;
}
.accordion-custom .accordion-button {
  background-color: #13151d;
  color: #fff;
  border-radius: 0;
  border: none;
  box-shadow: none;
  position: relative; 
}

.accordion-custom .accordion-button::after {
  content: '+';
  font-size: 1.6em; 
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 1em;
  top: 50%; 
  transform: translateY(-50%); 
  line-height: 1; 
  background: none; 
  border: none; 
  box-shadow: none; 
}

.accordion-custom .accordion-button:not(.collapsed)::after {
  content: '-';
  font-size: 1.5em; 
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 1em;
  top: 50%; 
  transform: translateY(-50%); 
  line-height: 1; 
}

.accordion-custom .accordion-body {
  background-color: #13151d;
  color: #fff;
  border-top: none;
}

.accordion-custom .accordion-item {
  border: none;
}

.accordion-custom .accordion-button:focus {
  box-shadow: none;
}


  .accordion-body {
    padding-top: 3px; 
  }