.container {
    max-width: 500px;
    margin-top: 50px;
}

.formRegistro {
    max-height: 700px;
    border-radius: 25px;
}

body {
    background: linear-gradient(to bottom, #053d4c, #055565, #054756);
}

input{
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    box-shadow: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #333;
}

.footer-navegacion-txt {
    font-size: 14px;
    color: #717377;
}

.footer-navegacion-txt:hover {
    color: black;
}

.footer-txt {
    font-size: 14px;
    color: #717377;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-links a {
    margin-bottom: 10px;
}

@media (max-width: 1100.98px) {
    .footer-navegacion-txt {
        width: 33.33%;
        max-width: 33.33%; 
    }
}

@media (max-width: 767.98px) {
    .footer-navegacion-txt {
        width: 50%;
        max-width: 50%; 
    }
}

@media (max-width: 575.98px) {
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-navegacion-txt {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }   
}