html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #040714;
    color: #f9f9f9;
    font-family: Avenir-Roman, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #f9f9f9;
    text-decoration: none;
}

.detail {
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);
}

.detailBgImg {
    left: 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.detailBgImg img {
    width: 100vw;
    height: 100vh;
}

.detailImgTitle {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
}

.detailImgTitle img {
    max-width: 1000px;
    width: 30vw;
}

#imgTitle{
    margin-top: 100px;
    width: 200px;
    height: auto;
    border-radius: 60px;
}

#description{
    margin-bottom: 100px;
}

.contentMeta {
    max-width: 874px;
}

.controls {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.player,
.trailer {
    font-size: 15px;
    margin-right: 22px;
    padding: 0 24px;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
}

.player img,
.trailer img {
    width: 32px;
}

.player:hover,
.trailer:hover {
    background: rgb(198, 198, 198);
}

.trailer {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #f9f9f9;
    color: #f9f9f9;
}

.addList,
.groupWatch {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addList {
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #f9f9f9;
}

.addList span:first-child {
    height: 2px;
    transform: translate(1px, 0) rotate(0);
    width: 16px;
}

.addList span:nth-child(2) {
    height: 16px;
    transform: translateX(-8px) rotate(0);
    width: 2px;
}

.groupWatch div {
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 50%;
}

.groupWatch div img {
    width: 100%;
}

.subTitle {
    font-size: 15px;
    color: #f9f9f9;
}

.description {
    font-size: 20px;
    line-height: 1.4;
    padding: 16px 0;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .player,
    .trailer {
        height: 45px;
        padding: 0 12px;
        font-size: 12px;
        margin-right: 10px;
    }

    .player img,
    .trailer img {
        width: 25px;
    }

    .subTitle {
        font-size: 12px;
    }

    .description {
        font-size: 14px;
    }
}
